@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* Start Variables */
:root {
  --bg-color: rgba(0, 0, 21, 1);
  --color: #ffa500;
  --transition: 0.2s;
  --section-padding: 50px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: var(--bg-color);
  position: relative;
  z-index: -1000;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Main Components */
.title {
  position: relative;
  color: #2196f3;
  text-transform: uppercase;
  overflow: hidden;
  transition: var(--transition);
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin: 50px auto;
  text-align: center;
  width: fit-content;
  padding: 10px 30px;
  cursor: pointer;
  letter-spacing: 10px;
}
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    word-wrap: normal;
  }
}
.title:hover {
  color: white;
  background: rgb(45 57 231 / 87%);
  box-shadow: 0 0 10px rgb(45 57 231 / 87%), 0 0 40px rgb(45 57 231 / 87%),
    0 0 80px rgb(45 57 231 / 87%);
  transition-delay: 1s;
}
.title span {
  position: absolute;
  display: block;
}
.title span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(45 57 231 / 87%));
}
.title:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.title span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(45 57 231 / 87%));
}
.title:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.title span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(45 57 231 / 87%));
}
.title:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.title span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(45 57 231 / 87%));
}
.title:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* End Main Components */
/* Start Header */
header {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  position: relative;
}
header .logo {
  font-size: 1.3rem;
  color: var(--color);
  font-weight: bold;
  padding: 10px 15px;
  white-space: nowrap;
}
header .logo:hover,
header .container ul li a:hover {
  color: white;
}
header .container .menu {
  flex: 0.9;
  display: flex;
  justify-content: flex-end;
}
header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .menu ul {
    display: none;
  }
}
header .menu ul li {
  margin-right: 35px;
}
header .menu ul li a {
  color: var(--color);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
header .container .icon {
  color: var(--color);
  display: none;
  align-self: center;
  justify-self: end;
}
header .container .icon:hover {
  color: white;
  transition: var(--transition);
}
@media (max-width: 767px) {
  header .container .icon {
    display: block;
    font-size: 24px;
  }
  header .menu ul.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    top: 100%;
    z-index: 10;
    width: 100%;
    z-index: 100;
  }
  header .menu ul.active li {
    width: 100%;
    padding: 12px 24px;
    cursor: pointer;
    background-color: black;
  }
  header .menu ul.active li:hover {
    background-color: white;
  }
  header .menu ul.active li:hover a {
    color: black;
  }
}
/* End Header */
/* Start Section */
section {
  height: calc(100vh - 67px);
  background-image: url(../images/photo-gamers.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 21, 0.7);
}
section .container {
  position: relative;
  color: white;
  z-index: 100;
}
section .container .text {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  z-index: 110;
}
section .container .text h1 {
  font-size: 50px;
  color: var(--color);
  margin: 15px 0;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
}
@media (max-width: 767px) {
  section .container .text h1 {
    font-size: 25px;
  }
  section .container .text p:nth-of-type(1) {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media (max-width: 330px) {
  section .container .text h1 {
    white-space: normal;
  }
}
section .container .text p:nth-of-type(1) {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%;
}
section .container .text p:nth-of-type(2) {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}
section .icons {
  margin-top: 5px;
}
section .icons a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}
section .icons a:hover {
  color: var(--color);
}
/* End Section */
/* Start Main */
/* Start Games Section*/
main {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.games-list img {
  width: 100px;
  height: 100px;
}
main .container {
  text-align: center;
}
main .games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  align-content: center;
}
main .games .games-list {
  margin: 30px;
  padding: 20px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 75, 255, 0.1);
  box-shadow: 0 8px 40px 0 rgb(45 57 231 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: var(--transition);
}
main .games-list:hover {
  box-shadow: 0 8px 40px 0 rgb(45 57 231 / 87%);
}
main .games-list h3 {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* End Games Section*/
/* Start Store Section */
main .games-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
main .games-store-list {
  width: 300px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  border-top: none;
  -webkit-box-shadow: 0 8px 40px 0 rgb(45 57 231 / 37%);
  box-shadow: 0 8px 40px 0 rgb(45 57 231 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid blueviolet;
  color: white;
  text-align: left;
  transition: var(--transition);
  border-radius: 6px;
}
main .games-store-list:hover {
  box-shadow: 0 8px 40px 0 rgb(45 57 231 / 87%);
}
main .games-store-list .game-image {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
}
main .games-store-list .game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}
main .games-store-list:hover img {
  transform: scale(1.4) rotate(6deg);
}
main .games-store-list .text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
main .games-store-list .text h4 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}
main .games-store-list .text span {
  padding-right: 20px;
  font-size: 1.1rem;
}
/* End Store Section */
/* Start Events */
.event-hero {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 75, 255, 0.1);
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: start;
}
.event-hero .event-text {
  flex: 50%;
  color: var(--color);
}
.event-hero .event-text h2 {
  background-color: var(--color);
  color: #000015;
  padding: 10px;
}
.event-hero .event-text h1 {
  font-size: 35px !important;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 767px) {
  .event-hero .event-text h1 {
    font-size: 30px;
  }
}
.event-hero .event-text p {
  color: white;
  line-height: 1.4;
}
.event-hero .event-text h4 {
  color: white;
  font-weight: 700;
  margin: 15px 0;
  font-size: 20px;
}
.event-hero .event-text .input-field input {
  padding: 5px 10px;
}
.event-hero .event-text .input-field input:focus {
  outline: none;
}
.event-hero .event-text .btn {
  margin-top: 10px;
  display: block;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
  background-color: #f44336;
  border: none;
  cursor: pointer;
}
.event-hero .event-image {
  width: 400px;
  height: 500px;
}
.event-hero .event-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* End Events */
/* End Main */
